In [9]:
import pandas as pd
import numpy as np

In [3]:
# Sample DataFrame creation
data = {
    'traveller': ['T1', 'T2', 'T1', 'T3', 'T1', 'T2', 'T1'],
    'departure': ['Davao City'] * 7,
    'departure_time': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15', '2023-03-01', '2023-03-15', '2023-04-01'],
    'arrival': ['Manila'] * 7,
    'arrival_time': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15', '2023-03-01', '2023-03-15', '2023-04-01'],
    'flight': ['PA101', 'PA102', 'PA103', 'PA104', 'PA105', 'PA106', 'PA107'],
    'fare': [6000, 7000, 8000, 9000, 10000, 11000, 12000]

}
df = pd.DataFrame(data)

**Step 1: Filter Data**

In [4]:
filtered_df = df[(df['departure'] == 'Davao City') & (df['arrival'] == 'Manila') & (df['flight'].str.startswith('PA')) & (df['departure_time'].str.startswith('2023'))]

**Step 2: Extract month from departure_time**

In [5]:
filtered_df['month'] = pd.to_datetime(filtered_df['departure_time']).dt.to_period('M')

**Step 3: Roll-up Operations**

In [6]:
result = filtered_df.groupby(['traveller', 'month']).agg(avg_fare=('fare', 'mean')).reset_index()

**Save the result to a CSV file**

In [7]:
output_filename = 'LabActivity3-1_Casila.csv'
result.to_csv(output_filename, index=False)

In [8]:
print(f"File saved as: {output_filename}")

File saved as: LabActivity3-1_Casila.csv